/* all fonts using by summarize.css */

@font-face {
    font-family: Raleway-Thin;
    src: url(resources/fonts/Raleway-Thin.ttf);
}

@font-face {
    font-family: Raleway-ExtraLight;
    src: url(resources/fonts/Raleway-ExtraLight.ttf);
}

@font-face {
    font-family: Raleway-Light;
    src: url(resources/fonts/Raleway-Light.ttf);
}

@font-face {
    font-family: Raleway-Regular;
    src: url(resources/fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: Raleway-Medium;
    src: url(resources/fonts/Raleway-Medium.ttf);
}

@font-face {
    font-family: Raleway-SemiBold;
    src: url(resources/fonts/Raleway-SemiBold.ttf);
}

@font-face {
    font-family: SourceSansPro-Regular;
    src: url(resources/fonts/SourceSansPro-Regular.ttf);
}
