/* base site's palette */
@palette-base-color-1: #1f2122;
@palette-base-color-2: #575c63;
@palette-base-color-3: #afc0d7;
@palette-base-color-4: #d6dde8;
@palette-base-color-5: #f0f1f3;

/* # aliases */

/* ## main section */

@palette-main-bg: @palette-base-color-5;
@palette-main-fg: @palette-base-color-2;

/* ## tables */

@palette-table-border: @palette-base-color-2;
@palette-table-headers-bg: @palette-base-color-2;
@palette-table-headers-fg: @palette-base-color-5;
@palette-table-rows-even-bg: @palette-base-color-3;
@palette-table-rows-even-fg: @palette-base-color-1;
@palette-table-rows-odd-bg: @palette-base-color-4;
@palette-table-rows-odd-fg: @palette-base-color-1;

/* ## buttons */
@palette-button-common-bg: @palette-base-color-1;
@palette-button-common-fg: @palette-base-color-5;
@palette-button-common-active-bg: @palette-base-color-2;
@palette-button-common-active-fg: @palette-base-color-5;

@palette-button-good-bg: #6A9764;
@palette-button-good-fg: @palette-base-color-5;
@palette-button-good-hover-bg: #6CBA60;
@palette-button-good-hover-fg: white;

@palette-button-bad-bg: #976464;
@palette-button-bad-fg: @palette-base-color-5;
@palette-button-bad-hover-bg: #BA6161;
@palette-button-bad-hover-fg: white;

/* ## forms */
@palette-form-bg: @palette-base-color-4;
