@import "colors";

.summarize {
  table {
    border-collapse: collapse;
    border: none;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.7);

    thead, caption {
      font-family: Raleway-Regular, Arial, sans-serif;
      font-size: 1.2em;
      font-weight: normal;
    }

    tbody, tfoot {
      font-family: SourceSansPro-Regular, Arial, sans-serif;
    }

    caption, th {
      padding: 12px 8px 12px 8px;
      background-color: @palette-table-headers-bg;
      color: @palette-table-headers-fg;
    }

    caption {
      background-color: @palette-1-color-1;
    }

    tr:nth-child(even) {
      background-color: @palette-table-rows-even-bg;
      color: @palette-table-rows-even-fg;
    }

    tr:nth-child(odd) {
      background-color: @palette-table-rows-odd-bg;
      color: @palette-table-rows-odd-fg
    }

    td {
      padding: 8px 16px;
    }
  }
}
